.App {
  text-align: center;
}


.App-header {
  background-color: #e0d0d0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
/*  color: rgb(19, 7, 174);*/
}

.App-link {
  color: #61dafb;
}


h1 {
  margin: 1px;
  font-size: 40px;
/*  color: rgb(0, 0, 0); */
}

.search {
  width: 70%;
}

ul li {
  font-size: 20px;
} 

@keyframes breath
{
  0% {
    animation-timing-function: cubic-bezier(0.9647,0.2413,-0.0705,0.7911);
    transform: scale(0.9099999999999999);
  }
  51% {
    animation-timing-function: cubic-bezier(0.9226,0.2631,-0.0308,0.7628);
    transform: scale(1.02994);
  }
  100% {
    transform: scale(0.9099999999999999);
  }
}

